@media screen and (min-width: 300px){
.cajita1{
    height: 80px;
    width: 80px;
    background-color: black;
}
}
@media screen and (min-width: 600px){
.cajita2{
    height: 80px;
    width: 80px;
    background-color: white;
}
}
@media screen and (max-width: 680px){

.cajita3{
    height: 80px;
    width: 80px;
    background-color: darkblue;
}
.contenedor{
    background-color: blueviolet;
    height: 400px;
    width: 400px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
}